.ia-container {
  height: 100vh;
  background: #0f172a;
  display: flex;
  flex-direction: column;
}

.ia-header {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  background: #111827;
  border-bottom: 1px solid #222;
}

.ia-chat {
  flex: 1;
  padding: 20px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mensaje {
  max-width: 70%;
  padding: 14px;
  border-radius: 18px;
  color: white;
  font-size: 15px;
}

.usuario {
  align-self: flex-end;
  background: #00c853;
}

.ia {
  align-self: flex-start;
  background: #1e293b;
}

.typing {
  color: #94a3b8;
  font-style: italic;
}

.ia-input-container {
  display: flex;
  padding: 15px;
  background: #111827;
  border-top: 1px solid #222;
}

.ia-input {
  flex: 1;
  padding: 14px;
  border-radius: 30px;
  border: none;
  outline: none;
  background: #1e293b;
  color: white;
  font-size: 15px;
}

.ia-send {
  width: 55px;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  background: #00c853;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.ia-mic {
  width: 55px;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  background: #ff1744;
  color: white;
  font-size: 20px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.audio-wave {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.audio-wave span {
  width: 5px;
  height: 20px;
  background: #00f7ff;
  border-radius: 20px;
  animation: wave 1s infinite ease-in-out;
}

.audio-wave span:nth-child(2) {
  animation-delay: 0.1s;
}

.audio-wave span:nth-child(3) {
  animation-delay: 0.2s;
}

.audio-wave span:nth-child(4) {
  animation-delay: 0.3s;
}

.audio-wave span:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes wave {
  0%, 100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(2.5);
  }
}
.ia-container{
  display:flex;
  gap:20px;
  height:100vh;
  padding:20px;
  background:#081229;
}

.avatar-container{
  width:320px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.avatar-video{
  width:100%;
  max-height:80vh;

  object-fit: cover;

  border-radius:25px;

  box-shadow:
    0 0 25px rgba(0,255,255,.4),
    0 0 50px rgba(0,255,255,.2);

  border:2px solid #00e5ff;
}

.ia-chat{
  flex:1;

  display:flex;
  flex-direction:column;

  overflow-y:auto;

  padding:20px;

  background:rgba(255,255,255,.03);

  border-radius:25px;

  backdrop-filter: blur(12px);
}